.backToTop {
    background: #e74c3c;
    border-radius: 50px;
    bottom: 15px;
    height: 40px;
    opacity: 0;
    position: fixed;
    right: 15px;
    transition: all 0.4s;
    visibility: hidden;
    width: 40px;
    z-index: 996;
}

.backToTop i {
    color: #fff;
    font-size: 28px;
    line-height: 0;
}

.backToTop.active {
    opacity: 1;
    visibility: visible;
}
