.footer {
    background: #101522;
    color: #eee;
    font-size: 14px;
    padding: 0 0 25px 0;
}

.links {
    font-size: 16px;
    padding-bottom: 12px;
    padding-top: 30px;
    text-align: center;
}

.links a {
    cursor: pointer;
    text-decoration: underline;
}
