/* _content/AzureFest.Web/Components/About.razor.rz.scp.css */


#about h2[b-a7sik69o6s] {
    font-size: 36px;
    font-weight: bold;
}

#about h3[b-a7sik69o6s] {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

#about p[b-a7sik69o6s] {
    font-size: 16px;
    color: black;
}
/* _content/AzureFest.Web/Components/CommunitySponsorCard.razor.rz.scp.css */
.sponsor-logo[b-z6pd9zpszx] {
    align-items: center;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #e0e5fa;
    display: flex;
    height: 120px;
    justify-content: center;
    overflow: hidden;
    padding: 30px;
    text-align: center;
}

.sponsor-logo:hover img[b-z6pd9zpszx] {
    transform: scale(1.2);
}
/* _content/AzureFest.Web/Components/Footer.razor.rz.scp.css */
#footer[b-lota4t86pp] {
    background: #101522;
    padding: 0 0 25px 0;
    color: #eee;
    font-size: 14px;
}

#footer .links[b-lota4t86pp] {
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 12px;
}

#footer .links a[b-lota4t86pp] {
    cursor: pointer;
    text-decoration: underline;
}

#footer .links a:hover[b-lota4t86pp] {
    cursor: pointer;
}

#footer .credits[b-lota4t86pp] {
    text-align: center;
    font-size: 13px;
    color: #ddd;
}
/* _content/AzureFest.Web/Components/GoldSponsorCard.razor.rz.scp.css */
.sponsor-logo[b-hswjv6tw7y] {
    align-items: center;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #e0e5fa;
    display: flex;
    height: 160px;
    justify-content: center;
    overflow: hidden;
    padding: 30px;
    text-align: center;
}

.sponsor-logo:hover img[b-hswjv6tw7y] {
    transform: scale(1.2);
}
/* _content/AzureFest.Web/Components/Hero.razor.rz.scp.css */
#hero[b-y2mdlvoo0c] {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom,#3e4574 5%,#90576e 50%,#e07340 66% 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    overflow: hidden;
    position: relative;
    min-height: 350px;
}

@media (min-width: 1024px) {
    #hero[b-y2mdlvoo0c] {
        background-attachment: fixed;
    }
}

#hero[b-y2mdlvoo0c]:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .hero-container[b-y2mdlvoo0c] {
    background-image: url("../img/clouds-sun.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}

@media (max-width: 991px) {
    #hero .hero-container[b-y2mdlvoo0c] {
        top: 70px;
    }
}

#hero h1[b-y2mdlvoo0c] {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
}

#hero h1 span[b-y2mdlvoo0c] {
    color: #E74C3C;
}

@media (max-width: 991px) {
    #hero h1[b-y2mdlvoo0c] {
        font-size: 34px;
    }
}

#hero p[b-y2mdlvoo0c] {
    font-weight: 700;
    font-size: 20px;
}

@media (max-width: 991px) {
    #hero p[b-y2mdlvoo0c] {
        font-size: 16px;
    }
}

#hero .logo[b-y2mdlvoo0c] {
    width: 70vmin;
}

#hero .banner[b-y2mdlvoo0c] {
    width: 50vmin;
    margin-top: -200px;
}

#hero .about-btn[b-y2mdlvoo0c] {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #2980B9;
    background: #3498DB;
    cursor: pointer;
}

#hero .about-btn:hover[b-y2mdlvoo0c] {
    background: #2980B9;
    color: #fff;
}

@-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes pulsate-btn-b-y2mdlvoo0c {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}
/* _content/AzureFest.Web/Components/Layout/BackToTop.razor.rz.scp.css */
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top[b-bsec1nyatk] {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #E74C3C;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i[b-bsec1nyatk] {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover[b-bsec1nyatk] {
    background: #E74C3C;
    color: #fff;
}

.back-to-top.active[b-bsec1nyatk] {
    visibility: visible;
    opacity: 1;
}

/* _content/AzureFest.Web/Components/Layout/EmptyLayout.razor.rz.scp.css */
.page[b-7atgzt1nl9] {
    position: relative;
    display: flex;
    flex-direction: column;
}
/* _content/AzureFest.Web/Components/Layout/HeaderSpacer.razor.rz.scp.css */
#header-spacer[b-5hfpwksvtz] {
    margin-top: 70px;
}
/* _content/AzureFest.Web/Components/Layout/MainLayout.razor.rz.scp.css */

/* TODO Can be removed? */

.page[b-q3toynai6b] {
    position: relative;
    display: flex;
    flex-direction: column;
}


.sidebar[b-q3toynai6b] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-q3toynai6b] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-q3toynai6b]  a, .top-row[b-q3toynai6b]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-q3toynai6b]  a:hover, .top-row[b-q3toynai6b]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-q3toynai6b]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row[b-q3toynai6b] {
        justify-content: space-between;
    }

    .top-row[b-q3toynai6b]  a, .top-row[b-q3toynai6b]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-q3toynai6b] {
        flex-direction: row;
    }

    .sidebar[b-q3toynai6b] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-q3toynai6b] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-q3toynai6b]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-q3toynai6b], article[b-q3toynai6b] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}


/*---------------------------------*/


#main[b-q3toynai6b] {
    min-width: 320px;
    background-color: black;
    font-family: "Agdasima", sans-serif;
    font-size: 24px;
}




/* #footer {
    min-width: 320px;
} */


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/* _content/AzureFest.Web/Components/Layout/NavMenu.razor.rz.scp.css */
#header[b-vf13qsrd7m] {
    height: 90px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

#header.header-scrolled[b-vf13qsrd7m],
#header.header-inner[b-vf13qsrd7m] {
    background: rgba(6, 12, 34, 0.98);
    height: 70px;
}

#header #logo h1[b-vf13qsrd7m] {
    font-size: 36px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#header #logo h1 span[b-vf13qsrd7m] {
    color: #E74C3C;
}

#header #logo h1 a[b-vf13qsrd7m],
#header #logo h1 a:hover[b-vf13qsrd7m] {
    color: #fff;
}

#header #logo img[b-vf13qsrd7m] {
    padding: 0;
    margin: 0;
    display: none;
}

#header.header-fixed #logo img[b-vf13qsrd7m],
#header.header-scrolled #logo img[b-vf13qsrd7m] {
    display: block;
    height: 70px;
}

/**
* Desktop Navigation 
*/
.navbar[b-vf13qsrd7m] {
    padding: 0;
}

.navbar ul[b-vf13qsrd7m] {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li[b-vf13qsrd7m] {
    position: relative;
}

.navbar>ul>li[b-vf13qsrd7m] {
    white-space: nowrap;
    padding: 10px 0 10px 12px;
}

.navbar a[b-vf13qsrd7m],
.navbar a:focus[b-vf13qsrd7m] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(202, 206, 221, 0.8);
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    padding: 6px 4px;
}

.navbar a i[b-vf13qsrd7m],
.navbar a:focus i[b-vf13qsrd7m] {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar>ul>li>a[b-vf13qsrd7m]:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #E74C3C;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover[b-vf13qsrd7m]:before,
.navbar li:hover>a[b-vf13qsrd7m]:before,
.navbar .active[b-vf13qsrd7m]:before {
    visibility: visible;
    width: 100%;
}

.navbar a:hover[b-vf13qsrd7m],
.navbar .active[b-vf13qsrd7m],
.navbar .active:focus[b-vf13qsrd7m],
.navbar li:hover>a[b-vf13qsrd7m] {
    color: #fff;
}

.navbar .dropdown ul[b-vf13qsrd7m] {
    display: block;
    position: absolute;
    left: 12px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li[b-vf13qsrd7m] {
    min-width: 200px;
}

.navbar .dropdown ul a[b-vf13qsrd7m] {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #060c22;
}

.navbar .dropdown ul a i[b-vf13qsrd7m] {
    font-size: 12px;
}

.navbar .dropdown ul a:hover[b-vf13qsrd7m],
.navbar .dropdown ul .active:hover[b-vf13qsrd7m],
.navbar .dropdown ul li:hover>a[b-vf13qsrd7m] {
    color: #E74C3C;
}

.navbar .dropdown:hover>ul[b-vf13qsrd7m] {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul[b-vf13qsrd7m] {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul[b-vf13qsrd7m] {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul[b-vf13qsrd7m] {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul[b-vf13qsrd7m] {
        left: -100%;
    }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle[b-vf13qsrd7m] {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle[b-vf13qsrd7m] {
        display: block;
    }

    .navbar ul[b-vf13qsrd7m] {
        display: none;
    }
}

.navbar-mobile[b-vf13qsrd7m] {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle[b-vf13qsrd7m] {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul[b-vf13qsrd7m] {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile>ul>li[b-vf13qsrd7m] {
    padding: 0;
}

.navbar-mobile a:hover[b-vf13qsrd7m]:before,
.navbar-mobile li:hover>a[b-vf13qsrd7m]:before,
.navbar-mobile .active[b-vf13qsrd7m]:before {
    visibility: hidden;
}

.navbar-mobile a[b-vf13qsrd7m],
.navbar-mobile a:focus[b-vf13qsrd7m] {
    padding: 10px 20px;
    font-size: 15px;
    color: #060c22;
}

.navbar-mobile a:hover[b-vf13qsrd7m],
.navbar-mobile .active[b-vf13qsrd7m],
.navbar-mobile li:hover>a[b-vf13qsrd7m] {
    color: #E74C3C;
}

.navbar-mobile .getstarted[b-vf13qsrd7m],
.navbar-mobile .getstarted:focus[b-vf13qsrd7m] {
    margin: 15px;
}

.navbar-mobile .dropdown ul[b-vf13qsrd7m] {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li[b-vf13qsrd7m] {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a[b-vf13qsrd7m] {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i[b-vf13qsrd7m] {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover[b-vf13qsrd7m],
.navbar-mobile .dropdown ul .active:hover[b-vf13qsrd7m],
.navbar-mobile .dropdown ul li:hover>a[b-vf13qsrd7m] {
    color: #E74C3C;
}

.navbar-mobile .dropdown>.dropdown-active[b-vf13qsrd7m] {
    display: block;
}

.buy-tickets[b-vf13qsrd7m] {
    color: #fff;
    background: #E74C3C;
    padding: 7px 22px;
    margin: 0 0 0 15px;
    border-radius: 50px;
    border: 2px solid #E74C3C;
    transition: all ease-in-out 0.3s;
    font-weight: 500;
    line-height: 1;
    font-size: 13px;
    white-space: nowrap;
    cursor: pointer;
}

.buy-tickets:hover[b-vf13qsrd7m] {
    background: none;
    color: #fff;
}

.buy-tickets:focus[b-vf13qsrd7m] {
    color: #fff;
}

@media (max-width: 992px) {
    .buy-tickets[b-vf13qsrd7m] {
        margin: 0 15px 0 0;
    }
}
/* _content/AzureFest.Web/Components/Layout/Section.razor.rz.scp.css */
.section-header[b-9tx15zjiza] {
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 20px;
}

.section-header[b-9tx15zjiza]::before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #E74C3C;
    bottom: 0;
    left: calc(50% - 25px);
}

.section-header h2[b-9tx15zjiza] {
    font-size: 36px;
    /* text-transform: uppercase; */
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-header p[b-9tx15zjiza] {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #9195a2;
}

.section-with-bg[b-9tx15zjiza] {
    background-color: #f6f7fd;
}
/* _content/AzureFest.Web/Components/Organizer.razor.rz.scp.css */
.organizer-item h4[b-4o8t7577wm] {
    font-size: 18px;
    font-weight: 600;
    padding-top: 5px;
    margin-bottom: 0px;
}

.organizer-item h4 span[b-4o8t7577wm] {
    font-style: italic;
    color: #19328e;
    font-weight: normal;
    font-size: 16px;
}

.organizer-item p[b-4o8t7577wm] {
    font-style: italic;
    color: #152b79;
    margin-bottom: 0;
}

.organizer-photo[b-4o8t7577wm] {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 0 10px 10px 0;
}

.organizer-photo img[b-4o8t7577wm] {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
    transition: all ease-in-out 0.3s;
}
/* _content/AzureFest.Web/Components/Pages/Agenda.razor.rz.scp.css */
.tabs[b-ar74v7sgu2] {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 16px !important;
    text-align: center
}

.tabs-item[b-ar74v7sgu2] {
    display: inline-block;
    margin: 4px;
    font-size: 1.5rem;
    line-height: 20px;
}

.tabs-link[b-ar74v7sgu2] {
    position: relative;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: rgba(238, 238, 238, 0.6);
    border-radius: 2px;
    border: 1px solid rgba(238, 238, 238, 0.1) !important;
    transition: all .15s ease-in
}

.tabs-link:hover[b-ar74v7sgu2],
.tabs-link:focus[b-ar74v7sgu2],
.tabs-link:active[b-ar74v7sgu2] {
    color: #fff;
    background-color: #E459BB;
    box-shadow: none !important
}

.tabs-item--active[b-ar74v7sgu2] {
    border-color: transparent
}

.tabs-item--active .tabs-link[b-ar74v7sgu2] {
    color: #fff;
    background-color: #E459BB;
    box-shadow: none
}

.tabs-item--active .tabs-link:hover[b-ar74v7sgu2],
.tabs-item--active .tabs-link:focus[b-ar74v7sgu2],
.tabs-item--active .tabs-link:active[b-ar74v7sgu2] {
    color: #fff;
    background-color: #E459BB;
}
/* _content/AzureFest.Web/Components/Pages/PastEdition.razor.rz.scp.css */
.galleria[b-72po72m5iu]
{
    width: 660px;
    height: 440px;
}

@media (max-width: 640px) {
    .galleria[b-72po72m5iu]
    {
        width: 300px;
        height: 200px;
    }
}
/* _content/AzureFest.Web/Components/Pages/SessionDetails.razor.rz.scp.css */
.card-body[b-8lay7kg5pt] {
    color: black;
}

.card-footer[b-8lay7kg5pt] {
    background-color: #121838;
}

h2[b-8lay7kg5pt] {
    color: black;
}

.room[b-8lay7kg5pt] {
    background-color: #E74C3C;
}
/* _content/AzureFest.Web/Components/Pages/SpeakerDetails.razor.rz.scp.css */
.card-body[b-mob39gmzfq] {
    color: black;
}

.card-footer[b-mob39gmzfq] {
    background-color: #1e275e;
}

h2[b-mob39gmzfq] {
    color: black;
}

.speaker-photo[b-mob39gmzfq] {
    width: 256px;
    height: 256px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.speaker-photo img[b-mob39gmzfq] {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 10%
}
/* _content/AzureFest.Web/Components/Pages/Speakers.razor.rz.scp.css */
.speaker[b-xjgiusmq7k] {
    height: 288px;
    width: 288px;
}

@media (max-width: 991px) {
    .speaker[b-xjgiusmq7k] {
        height: 200px;
        width: 200px;
    }
}
/* _content/AzureFest.Web/Components/Pages/Tickets.razor.rz.scp.css */
#tickets p[b-mq8e14pz3u] {
    margin: auto;
    margin-bottom: 20px;
    max-width: 1000px;
    text-shadow: 1px 1px 1px black;
}

#tickets p:last-child[b-mq8e14pz3u] {
    padding-bottom: 30px;
}

#tickets .card[b-mq8e14pz3u] {
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 25px 0 rgba(249, 36, 161, 0.5);
    background-color: white;
}

#tickets .card:hover[b-mq8e14pz3u] {
    box-shadow: 0 0 40px 0 rgba(249, 36, 161, 1);
}

#tickets .card hr[b-mq8e14pz3u] {
    margin: 25px 0;
    color: #1b6a7d;
}

#tickets .card .card-title[b-mq8e14pz3u] {
    margin: 10px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
}

#tickets .card .card-price[b-mq8e14pz3u] {
    font-size: 48px;
    margin: 0;
    color: #1b6a7d;
}

#tickets .card p[b-mq8e14pz3u] {
    font-size: 20px;
    margin: 0;
    color: #0e1b4d;
    text-shadow: 0 0 0;
}

#tickets .card .btn[b-mq8e14pz3u] {
    font-size: 24px;
    border-radius: 50px;
    padding: 10px 40px;
    transition: all 0.2s;
    background-color: #E459BB;
    border: 0;
    color: #fff;
}

#tickets .card .btn:hover[b-mq8e14pz3u] {
    background-color: rgb(249, 36, 161);
}
/* _content/AzureFest.Web/Components/Pages/UpNext.razor.rz.scp.css */
#logo img[b-2inpug82vv] {
    height: 128px;
}

h2[b-2inpug82vv] {
    display: inline;
    position: relative;
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2[b-2inpug82vv]::before {
    content: "";
    position: absolute;
    top: calc(100% + 7px);
    width: calc(100% + 20px);
    left: -10px;
    height: 5px;
    background: linear-gradient(111.3deg, #269BB9 10%, #C248D6 90%);
    text-align: center;
    justify-content: center;
}
/* _content/AzureFest.Web/Components/SessionCard.razor.rz.scp.css */

.card[b-eqbqe0abdj] {
    transition: all 0.3s ease-in-out;
    width: 288px;
    cursor: pointer;
}

.card:hover[b-eqbqe0abdj] {
    transform: scale(1.1);
}

.card.service-session[b-eqbqe0abdj] {
    background-color: #e9ecef;
    cursor: default;
}

.card.service-session:hover[b-eqbqe0abdj] {
    transform: scale(1);
}

.card-title[b-eqbqe0abdj] {
    color: black;
}

.card-body h5[b-eqbqe0abdj] {
    font-size: 1.2rem;
}

.card-body h6[b-eqbqe0abdj] {
    font-size: 1rem;
}

.card-footer .session-level[b-eqbqe0abdj] {
    background-color: #E74C3C;
}

.speaker-photo[b-eqbqe0abdj] {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    border-radius: 50%;
}
/* _content/AzureFest.Web/Components/SpeakerCard.razor.rz.scp.css */

.card[b-qpmztfzh0p] {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 30px;
    width: 288px;
    height: 288px;
}

.card:hover[b-qpmztfzh0p] {
    transform: scale(1.1);
}

.card:hover.speaker .speaker-photo[b-qpmztfzh0p] {
    box-shadow: 0 0 40px 0 #269BB9;
}

.speaker img[b-qpmztfzh0p] {
    width: 100vw;
    object-fit: cover;
}

.speaker .details[b-qpmztfzh0p] {
    background: rgba(6, 12, 34, 0.76);
    position: absolute;
    left: 0;
    bottom: 0; /* TODO Set to -40px when enabling social links */
    right: 0;
    text-align: center;
    padding-top: 10px;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.speaker .details h3[b-qpmztfzh0p] {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}

.speaker .details p[b-qpmztfzh0p] {
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
    font-style: italic;
}

.speaker .details .social[b-qpmztfzh0p] {
    height: 40px;
}

.speaker .details .social i[b-qpmztfzh0p] {
    line-height: 0;
    margin: 0 2px;
}

.speaker .details a[b-qpmztfzh0p] {
    color: #fff;
}

.speaker .details a:hover[b-qpmztfzh0p] {
    color: #E74C3C;
}

.speaker:hover .details[b-qpmztfzh0p] {
    bottom: 0;
}

@media (max-width: 991px) {

    .card[b-qpmztfzh0p] {
        width: 200px;
        height: 200px;
    }
    
    .speaker .details[b-qpmztfzh0p] {
        bottom: -30px;
    }

    .speaker .details h3[b-qpmztfzh0p] {
        font-size: 18px;
    }

    .speaker .details p[b-qpmztfzh0p] {
        font-size: 13px;
        margin-bottom: 8px;
    }

    .speaker .details .social[b-qpmztfzh0p] {
        height: 30px;
    }
}
/* _content/AzureFest.Web/Components/SpeakerHighlights.razor.rz.scp.css */
.btn[b-9c3kqf4bbx] {
    font-size: 18px;
    border-radius: 50px;
    padding: 10px 40px;
    transition: all 0.2s;
    background-color: #E74C3C;
    border: 2px solid #E74C3C;
    color: #fff;
    margin-top: 30px;
}

.btn:hover[b-9c3kqf4bbx] {
    background: black;
}
/* _content/AzureFest.Web/Components/TicketsAd.razor.rz.scp.css */
#buy-tickets[b-0wtn808nk1] {
    padding: 60px 0;
}

#buy-tickets .card[b-0wtn808nk1] {
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 25px 0 rgba(6, 12, 34, 0.1);
}

#buy-tickets .card:hover[b-0wtn808nk1] {
    box-shadow: 0 10px 35px 0 rgba(6, 12, 34, 0.2);
}

#buy-tickets .card hr[b-0wtn808nk1] {
    margin: 25px 0;
}

#buy-tickets .card .card-title[b-0wtn808nk1] {
    margin: 10px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
}

#buy-tickets .card .card-price[b-0wtn808nk1] {
    font-size: 48px;
    margin: 0;
}

#buy-tickets .card ul li[b-0wtn808nk1] {
    margin-bottom: 20px;
}

#buy-tickets .card .text-muted[b-0wtn808nk1] {
    opacity: 0.7;
}

#buy-tickets .card .btn[b-0wtn808nk1] {
    font-size: 15px;
    border-radius: 50px;
    padding: 10px 40px;
    transition: all 0.2s;
    background-color: #E74C3C;
    border: 0;
    color: #fff;
}

#buy-tickets .card .btn:hover[b-0wtn808nk1] {
    background-color: #e0072f;
}

#buy-tickets #buy-ticket-modal input[b-0wtn808nk1],
#buy-tickets #buy-ticket-modal select[b-0wtn808nk1] {
    border-radius: 0;
}

#buy-tickets #buy-ticket-modal .btn[b-0wtn808nk1] {
    font-size: 15px;
    border-radius: 50px;
    padding: 10px 40px;
    transition: all 0.2s;
    background-color: #E74C3C;
    border: 0;
    color: #fff;
}

#buy-tickets #buy-ticket-modal .btn:hover[b-0wtn808nk1] {
    background-color: #e0072f;
}
/* _content/AzureFest.Web/Components/UpNextCard.razor.rz.scp.css */

.card[b-r2nxcag5a0] {
    width: 30%;
}

.card-title[b-r2nxcag5a0] {
    color: black;
}

.card-body h5[b-r2nxcag5a0] {
    font-size: 2.5rem;
}

.card-body h6[b-r2nxcag5a0] {
    font-size: 1.5rem;
}

.card-footer .session-format[b-r2nxcag5a0] {
    background-color: #269BB9;
}

.card-body .session-level[b-r2nxcag5a0] {
    background-color: #E459BB;
    font-size: 1rem;
}

.card-footer h6[b-r2nxcag5a0] {
    font-size: 1.5rem;
}

.speaker-photo[b-r2nxcag5a0] {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    border-radius: 50%;
}
/* _content/AzureFest.Web/Components/Venue.razor.rz.scp.css */
#venue[b-3zyl2a1f76] {
    padding: 60px 0;
}

#venue .container-fluid[b-3zyl2a1f76] {
    margin-bottom: 3px;
}

#venue .venue-map iframe[b-3zyl2a1f76] {
    width: 100%;
    height: 100%;
    min-height: 300px;
}

#venue .venue-info[b-3zyl2a1f76] {
    background: url("img/venue/ordina.jpg") top center no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 120px;
    padding-bottom: 60px;
}

#venue .venue-info[b-3zyl2a1f76]:before {
    content: "";
    background: rgba(13, 20, 41, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#venue .venue-info h3[b-3zyl2a1f76] {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

@media (max-width: 574px) {
    #venue .venue-info h3[b-3zyl2a1f76] {
        font-size: 24px;
    }
}

#venue .venue-info h4[b-3zyl2a1f76] {
    font-size: 32px;
    font-weight: 500;
    color: #fff;
}

@media (max-width: 574px) {
    #venue .venue-info h4[b-3zyl2a1f76] {
        font-size: 18px;
    }
}

#venue .venue-info p[b-3zyl2a1f76] {
    color: #fff;
    margin-bottom: 0;
}

#venue .venue-gallery-container[b-3zyl2a1f76] {
    padding-right: 12px;
}

#venue .venue-gallery[b-3zyl2a1f76] {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

#venue .venue-gallery img[b-3zyl2a1f76] {
    transition: all ease-in-out 0.4s;
}

#venue .venue-gallery:hover img[b-3zyl2a1f76] {
    transform: scale(1.1);
}
