@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageScript Src="./Components/Layout/MainLayout.razor.js" />

<NavMenu HeaderScroll="@IsRootPage()" />

<main id="main" class="d-flex flex-column min-vh-100">

    @Body

    <Footer />

</main>

<BackToTop />

@code {
    private bool IsRootPage()
    {
        // Get the current URI
        var uri = new Uri(NavigationManager.Uri);

        return uri.PathAndQuery.Trim('/').Length == 0;
    }
}