@inject WebsiteSettings Settings

<Section Id="about" Background="true" FadeUp="true">

    <div class="row">
        <div class="col-lg-6">
            <h2>About Azure Fest</h2>
            <p>Azure Fest NL is a free, single day, in-person community event for all things Azure. We bring together
                world-class local and international speakers sharing real world experiences, best practices and the latest
                developments on the Azure platform.</p>
        </div>
        <div class="col-lg-3">
            <h3>Where</h3>
            <p>Ordina<br>Ringwade 1<br>Nieuwegein, NL</p>
        </div>
        <div class="col-lg-3">
            <h3>When</h3>
            <p>Wednesday<br>September 11th</p>
        </div>
    </div>

</Section>
