@inject WebsiteSettings Settings

<Section Id="about" Background="true">

    <div class="row pt-4">
        <div class="col-lg-6">
            <h2>About Azure Fest</h2>
            <p>Azure Fest NL is a <strong>100% free</strong>, single day, in-person community event for all things Azure. We bring together
                world-class local and international speakers sharing real world experiences, best practices and the latest
                developments on the Azure platform.</p>
        </div>
        <div class="col-lg-3">
            <h3>Where</h3>
            <p>Sopra Steria<br>Ringwade 1<br>Nieuwegein, NL</p>
        </div>
        <div class="col-lg-3">
            <h3>When</h3>
            <p>@Settings.ConferenceDate.ToString("dddd")<br>@Settings.ConferenceDate.ToString("MMMM dd")</p>
        </div>
    </div>

</Section>
