.sponsor-logo {
    align-items: center;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #e0e5fa;
    display: flex;
    height: 120px;
    justify-content: center;
    overflow: hidden;
    padding: 30px;
    text-align: center;
}

.sponsor-logo:hover img {
    transform: scale(1.2);
}