<Section Id="sponsors" HeaderText="Gold sponsors" Background="true" FadeUp="true">

    <div class="row mb-0 no-gutters supporters-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">

        <div class="col-lg-4 col-md-4 col-xs-6 ">
            <div class="supporter-logo">
                <a href="https://www.ordina.nl/" target="_blank">
                    <img src="assets/img/sponsors/ordina-logo.png" class="img-fluid" alt="Ordina">
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-6">
            <div class="supporter-logo">
                <a href="https://www.betabit.nl/" target="_blank">
                    <img src="assets/img/sponsors/betabit.png" class="img-fluid" alt="Betabit">
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-6">
            <div class="supporter-logo">
                <a href="https://www.cloudlr.nl/" target="_blank">
                    <img src="assets/img/sponsors/Cloudlr.png" class="img-fluid" alt="Cloudlr">
                </a>
            </div>
        </div>

    </div>

    <div class="row no-gutters supporters-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">

        <div class="col-lg-4 col-md-4 col-xs-6">
            <div class="supporter-logo">
                <a href="https://bpsolutions.nl/" target="_blank">
                    <img src="assets/img/sponsors/Bpsolutions.png" class="img-fluid" alt="BPSOLUTIONS">
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-6">
            <div class="supporter-logo">
                <a href="https://dutchworkz.nl/" target="_blank">
                    <img src="assets/img/sponsors/dutchworkz.png" class="img-fluid" alt="Dutchworkz">
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-6">
            <div class="supporter-logo">
                <a href="https://garansys.nl" target="_blank">
                    <img src="assets/img/sponsors/garansys.png" class="img-fluid" alt="Garansys">
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-6">
            <div class="supporter-logo">
                <a href="https://cloudrepublic.nl" target="_blank">
                    <img src="assets/img/sponsors/cloudrepublic.png" class="img-fluid" alt="Cloud Republic">
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
            <div class="supporter-logo">
                <a href="https://www.infosupport.com/" target="_blank">
                    <img src="assets/img/sponsors/info-support.png" class="img-fluid" alt="Info Support">
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">

        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
            <div class="supporter-logo">
                <a href="https://inspark.nl" target="_blank">
                    <img src="assets/img/sponsors/inspark.png" class="img-fluid" alt="Inspark">
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-6">
            <div class="supporter-logo">
                <a href="https://luminis.eu" target="_blank">
                    <img src="assets/img/sponsors/Luminis.png" class="img-fluid" alt="Luminis">
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
        </div>
    </div>
    
</Section>
