<footer id="footer" class="mt-auto pt-4 text-center">
    <div class="container">
        <div class="links">
            <a href="mailto:team@azurefest.nl">Contact us</a> | <a href="/code-of-conduct">Code of conduct</a> | Powered by <a href="https://www.sessionize.com">Sessionize</a>
        </div>
    </div>
</footer>