<section id="hero">
    <div class="hero-container">
        <img class="logo pb-10" src="img/2024/hero.svg" data-aos="zoom-in" data-aos-delay="100" />
        <a href="#about" class="about-btn scrollto">About Azure Fest</a>
    </div>
</section>