@inject WebsiteSettings Settings

<PageScript Src="./Components/Hero.razor.js" />

<section id="hero">
    <div class="hero-container">
        <img class="logo pb-10" src="img/2024/hero.svg" data-aos="zoom-in" data-aos-delay="100" />
        <span>
        <a class="link-btn" onclick="utils.scrollToElement('#about')">About Azure Fest</a>
        @if (Settings.SessionsAnnounced)
        {
            <a class="link-btn" onclick="window.location.href='/agenda'">Agenda</a>
        }
        </span>
    </div>
</section>