.organizer-item h4 {
    font-size: 18px;
    font-weight: 600;
    padding-top: 5px;
    margin-bottom: 0px;
}

.organizer-item h4 span {
    font-style: italic;
    color: #19328e;
    font-weight: normal;
    font-size: 16px;
}

.organizer-item p {
    font-style: italic;
    color: #152b79;
    margin-bottom: 0;
}

.organizer-photo {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 0 10px 10px 0;
}

.organizer-photo img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
    transition: all ease-in-out 0.3s;
}
