@inject WebsiteSettings Settings

<Section Id="organizers" HeaderText="Organizers">
    
    <div class="row justify-content-center g-3">
        @foreach (var organizer in @Settings.Organizers)
        {
            <div class="col-6 col-md-4">
                <Organizer Name="@organizer.Name" Company="@organizer.Company" ImageUrl="@organizer.ImageUrl" />
            </div>
        }
    </div>

</Section>
