<PageScript Src="./Components/PhotoAlbum.razor.js" />

<Section Id="photos" HeaderText="Here are some impressions from the 2024 edition!" Background="true">

    <div class="container">
        <div class="row justify-content-center p-2">
            <div class="galleria"></div>
        </div>
    </div>

</Section>
