
.card {
    transition: all 0.3s ease-in-out;
    width: 288px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
}

.card.service-session {
    background-color: #e9ecef;
    cursor: default;
}

.card.service-session:hover {
    transform: scale(1);
}

.card-title {
    color: black;
}

.card-body h5 {
    font-size: 1.2rem;
}

.card-body h6 {
    font-size: 1rem;
}

.card-footer .session-level {
    background-color: #E74C3C;
}

.speaker-photo {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    border-radius: 50%;
}
