.card {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 288px;
    border: 0;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.speaker-name {
    background-color: rgba(44, 62, 80, 0.8);
    width: 100%;
}
