@inject WebsiteSettings Settings

@if (Speaker is not null)
{
    <div class="card bg-transparent text-white my-2" onclick="window.location.href='@GetUrl(Speaker)'">
        <img src="@Speaker.ProfilePictureUrl" class="card-img" alt="Photo of @Speaker.FullName">
        <div class="speaker-img-overlay p-0 card-img-overlay d-flex flex-column align-items-start">
            <span class="speaker-name mt-auto w-100 p-2 text-center">@Speaker.FullName</span>
        </div>  
    </div>
}

@code
{
    [Parameter]
    public Speaker? Speaker { get; set; }
    
    [Parameter]
    public string? Edition { get; set; }

    private string GetUrl(Speaker speaker)
    {
        var edition = Edition ?? Settings.CurrentEdition;

        return $"{edition}/speaker/{speaker.Id}";
    }
}
