@inject WebsiteSettings Settings

@if (Speaker is not null)
{
    <div class="speaker card m-2 cursor-pointer bg-transparent border-0" onclick="window.location.href='@GetUrl(Speaker)'">
        <img src="@Speaker.ProfilePictureUrl" alt="@Speaker.FullName" class="img-fluid">
        <div class="details">
            <h3>@Speaker.FullName</h3>
            @* <div class="social"> *@
            @*     <a href="https://x.com/samilaiho"><i class="bi bi-twitter"></i></a> *@
            @*     <a href="https://fi.linkedin.com/in/samilaiho"><i class="bi bi-linkedin"></i></a> *@
            @* </div> *@
        </div>
    </div>
}

@code
{
    [Parameter]
    public Speaker? Speaker { get; set; }
    
    [Parameter]
    public string? Edition { get; set; }

    private string GetUrl(Speaker speaker)
    {
        var edition = Edition ?? Settings.CurrentEdition;

        return $"{edition}/speaker/{speaker.Id}";
    }
}
