.btn {
    font-size: 18px;
    border-radius: 50px;
    padding: 10px 40px;
    transition: all 0.2s;
    background-color: #E74C3C;
    border: 2px solid #E74C3C;
    color: #fff;
    margin-top: 30px;
}

.btn:hover {
    background: black;
}