@inject WebsiteSettings Settings

<Section Id="buy-tickets" HeaderText="Tickets" Background="true" FadeUp="true">

    @if (Settings.TicketsAvailable)
    {
        <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">General admission</h5>
                <h6 class="card-price text-center">FREE</h6>
                <hr/>
                <div class="text-center">
                    <p>Tickets to Azure Fest are 100% free and include parking & diner.</p>
                    <p>Tickets can be registered through Eventbrite.</p>
                </div>
                <hr/>
                <div class="text-center">
                  <a href="@Settings.EventbriteLink" target="_blank" class="btn btn-primary">Get ticket now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    }
    else
    {
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <p>Tickets to Azure Fest are 100% free and include parking & diner.</p>
                <p>Available from July 8th for everybody. Members of Dutch Azure Meetup can get a ticket 1 day earlier.</p> 
            </div>
        </div>
    }
    
</Section>
