<Section Id="venue" HeaderText="Venue" FadeUp="true">
    
    <div class="row">
        <div class="col-lg-6 venue-map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2453.204650818796!2d5.109094715771896!3d52.05779717972948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5c939362b986f%3A0xa7dc68348aa9f7b6!2sOrdina!5e0!3m2!1snl!2snl!4v1680363121504!5m2!1snl!2snl"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="col-lg-6 venue-info">
            <div class="row justify-content-center">
                <div class="col-11 col-lg-8 position-relative">
                    <h3>Ordina</h3>
                    <h4>Ringwade 1, Nieuwegein, NL</h4>
                </div>
            </div>
        </div>
    </div>
    
</Section>
