.about h2 {
    font-size: 36px;
    font-weight: bold;
}

.about h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.about p {
    color: black;
    font-size: 16px;
}
