.hero {
    background-image: linear-gradient(to bottom, #3e4574 5%, #90576e 50%, #e07340 100%);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 350px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media (min-width: 1024px) {
    .hero {
        background-attachment: fixed;
    }
}

.heroContainer {
    align-items: center;
    background-image: url("/img/clouds-sun.svg");
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 0 15px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

@media (max-width: 991px) {
    .heroContainer {
        top: 70px;
    }
}

.logo {
    width: 70vmin;
}

.linkBtn {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    background: #3498db;
    border: 2px solid #2980b9;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1;
    margin: 10px;
    padding: 12px 32px;
    transition: 0.5s;
}

.linkBtn:hover {
    background: #2980b9;
    color: #fff;
}
