@page "/tickets"
@inject WebsiteSettings Settings
@inject NavigationManager NavManager

@code {
    private bool _isVip = false;

    protected override void OnInitialized()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
        var code = query.Get("code");
        if (!string.IsNullOrEmpty(Settings.VipCode) && code == Settings.VipCode)
        {
            _isVip = true;
        }
    }
}

<PageTitle>Tickets | Azure Fest</PageTitle>

<HeaderSpacer />

<Section Id="tickets" HeaderText="Tickets">

    @if (Settings.TicketsAvailable || _isVip)
    {
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">General admission</h5>
                        <h6 class="card-price text-center">FREE</h6>
                        <hr/>
                        <div class="text-center">
                            <p>Tickets to Azure Fest are 100% free and include parking & diner.</p>
                        </div>
                        <hr/>
                        <RegistrationForm/>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
    }
    else
    {
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <p>Tickets to Azure Fest are 100% free and include parking & diner.</p>
                <p>Available from July 8th for everybody. Members of Dutch Azure Meetup can get a ticket 1 day earlier.</p> 
            </div>
        </div>
    }
    
</Section>
