#tickets {
    padding: 60px 0;
}

#tickets .card {
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 25px 0 rgba(6, 12, 34, 0.1);
}

#tickets .card:hover {
    box-shadow: 0 10px 35px 0 rgba(6, 12, 34, 0.2);
}

#tickets .card hr {
    margin: 25px 0;
}

#tickets .card .card-title {
    margin: 10px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
}

#tickets .card .card-price {
    font-size: 48px;
    margin: 0;
}

#tickets .card ul li {
    margin-bottom: 20px;
}

#tickets .card .text-muted {
    opacity: 0.7;
}
