@page "/wifi"

<PageTitle>WiFi | Azure Fest</PageTitle>

<HeaderSpacer />

<Section HeaderText="Free WiFi">

    <div class="container">

        <p>Connect to the <strong>SSG Guest</strong> network.</p>

        <p>You'll get a pop-up asking for credentials. Scroll down and select <strong>Sign in (already have an account)</strong>.</p>

        <p>The username is <strong>AzureFest</strong> and the password is <strong>AzureFest2025</strong>.</p>

    </div>

</Section>
